.movie{
height:calc(100vh - 64px);
background-repeat: no-repeat;
background-position: center;
background-size: cover;


&__dark{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background-color: black;
    opacity: 0.6;

    


}
> .ant-row{
height:100%;
display:flex;
align-items: center;
}

&__poster{
    height:100%;

    div {
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}
&__info{
height: 70%;
color:#ffff;
&-header{
display: flex;
align-items: center;
justify-content: space-between;
h1{
    color:#ffff;
    margin: 0;
    font-size: 60px;

    span{
        font-size: 10px;
        margin-left: 10px;
        opacity: .5;
    }
}

button{
height: 100%;
background-color: transparent;
border: 0px;
font-size: 25px;
&:hover,
&:focus,
&:active{
background-color: transparent;
color: turquoise;

}

}

}
&-content{

    margin-top: 50px;
h3{
    color: white;
    font-weight:bold ;
    font-size: 24px;

}


}

}
}